* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    --iconDeactiveColor: #b3b3b3;
    --iconBGcolor: #1f1f1f;
}

html,
body {
    height: 100%;
    background-color: #000000;
    color: #ffffff;
}

.main {
    display: grid;
    height: 100vh;
    width: 100vw;
    padding: 8px;
    grid-template-areas: "global-nav global-nav global-nav"
        "left-sidebar    main-view         right-sidebar"
        "now-playing-bar now-playing-bar now-playing-bar";
    grid-template-columns: auto 52fr;
    grid-template-rows: auto 91fr auto;
    gap: 8px;
}

.topNav {
    grid-area: global-nav;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    height: 64px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SpotifyLogo {
    justify-self: center;
    align-self: center;
    position: absolute;
    scale: .035;
    cursor: pointer;
}

.navMainContainer {
    height: 64px;
    width: auto;
    display: flex;
    justify-content: center;
}

.navMain {
    height: 64px;
    width: 546px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;
}

.homeCircle {
    position: relative;
    height: 48px;
    width: 48px;
    background-color: var(--iconBGcolor);
    border-radius: 50%;
    margin-inline-start: 8px;
    cursor: pointer;

    &:hover {
        scale: 1.04;
    }
}

.homeIcon {
    scale: .5;
}

.homeActive {
    fill: #ffffff;
}

.homeDeactive {
    scale: .45;
    fill: var(--iconBGcolor);
    stroke: var(--iconDeactiveColor);
    stroke-width: 2px;
}

.navSearchBox {
    height: 48px;
    width: 474px;
    background-color: var(--iconBGcolor);
    border-radius: 25px 25px 25px 25px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all .22s ease-in;

    &:hover {
        background-color: #2a2a2a;
        box-shadow: inset 0 0 1px 1px #3d3c3d;
    }

    &.navSearchBox:hover .searchInput {
        background-color: #2a2a2a;
        /* box-shadow: inset 0 0 1px 1px #3d3c3d ; */
    }

    &.navSearchBox:hover .searchIcon {
        fill: #ffffff;
    }
}

.searchIcon {
    scale: .5;
    cursor: pointer;
    transition: all .22s ease-in;
}

.searchActive {
    fill: #ffffff;
}

.searchDeactive {
    fill: var(--iconDeactiveColor);
}

.searchInput {
    all: unset;
    height: 46px;
    margin: 1px 0 1px 0;
    width: 362px;
    background-color: var(--iconBGcolor);
    font-weight: 550;
    color: var(--iconDeactiveColor);
    cursor: pointer;
    transition: all .22s ease-in;
}

.browseFilesIcon {
    cursor: pointer;

}

.browseActive {
    scale: .5;
    fill: #ffffff;
    transition: all .22s ease-in;

    &:hover {
        scale: .53;
    }
}

.browseDeactive {
    scale: .45;
    fill: var(--iconBGcolor);
    stroke: var(--iconDeactiveColor);
    stroke-width: 2px;
    transition: all .22s ease-in;

    &:hover {
        scale: .48;
        stroke: #ffffff;
    }
}

.userBox {
    height: 48px;
    width: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification {
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.notificationIcon {
    scale: .334;
    fill: var(--iconDeactiveColor);
    transition: all .22s ease-in;

    &:hover {
        fill: #ffffff;
    }
}

.account {
    height: 48px;
    width: 48px;
    background-color: var(--iconBGcolor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        scale: 1.03;
    }
}

.userPfp {
    scale: .5;
    border-radius: 50%;
}


/* left Sidebar */
.sideBarContainer {
    height: auto;
    width: 72px;
    overflow: hidden;
    background-color: #121212;
    border-radius: 8px;
    grid-area: left-sidebar;
    display: flex;
    flex-direction: column;
}

.libraryBox {
    height: 60px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.libraryIcon {
    fill: #ffffff;
    scale: .3334;
}

.libItemOutBox {
    height: calc(100% - 60px);
    max-height: calc(100% - 60px);
    overflow-y: overlay;
    overflow-x: hidden;
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;

    /* scrollBar styling */
    &.libItemOutBox::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background: hsla(0, 0%, 100%, .3);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: hsla(0, 0%, 100%, .5);
    }

    &::-webkit-scrollbar-thumb:active {
        background: hsla(0, 0%, 100%, .7);
    }
}

.libItemInBox {
    height: 800px;
    width: 64px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}


.libItem {
    height: 64px;
    width: 64px;
    background-color: green;
    /* temp */
    display: none;
}

.libItem1Img {
    height: 48px;
    width: 48px;
    box-sizing: content-box;
    padding: 8px;
}


/* @property --startColor {
    syntax: '<color>';
    inherits: false;
    initial-value: rgba(18, 18, 18, 1);
}

@property --endColor {
    syntax: '<color>';
    inherits: false;
    initial-value: rgba(18, 18, 18, 1);
} */


/* Main View */
.mainViewContainer {
    --startColor: rgba(18, 18, 18, 1);
    --endColor: rgba(18, 18, 18, 1);
    height: auto;
    overflow: auto;
    width: auto;
    border-radius: 8px;
    background: linear-gradient(180deg, var(--startColor) 0%, var(--endColor) 100%);
    grid-area: main-view;
    align-content: flex-start;

    /* scrollBar styling */
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background: hsla(0, 0%, 100%, .3);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: hsla(0, 0%, 100%, .5);
    }

    &::-webkit-scrollbar-thumb:active {
        background: hsla(0, 0%, 100%, .7);
    }
}


.stickyMainContainer {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.stickyBox {
    height: 100%;
    width: 100%;
    padding: 0 21px 0 21px;
}

.stickyContents {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    font-weight: 550;
}

.stickyButtons {
    all: unset;
    height: 32px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .1);
    text-align: center;
    align-content: center;
    transition: all .2s ease;
    cursor: pointer;

    &:focus {
        background-color: #ffffff;
        color: #000000;
    }

    &.stickyButtons:hover {
        background-color: rgba(255, 255, 255, .15);
    }
}

.allBox {
    width: 40px;
}

.musicBox {
    width: 61px;
}

.podcastsBox {
    width: 81px;
}

.mainView {
    width: 100%;
    height: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* padding: 0 21px 0 21px; */
    gap: 24px 32px;

    /* scrollBar styling */
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background: hsla(0, 0%, 100%, .3);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: hsla(0, 0%, 100%, .5);
    }

    &::-webkit-scrollbar-thumb:active {
        background: hsla(0, 0%, 100%, .7);
    }
}

.userPlaylistContainer {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    overflow: hidden;
    padding: 0 21px 0 21px;
}

.uPlaylistBox {
    height: 100%;
    width: 400px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    font-weight: 600;
    font-size: .9rem;
    word-wrap: break-word;
    position: relative;
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, .15);
    }

    &.uPlaylistBox:hover .playPlaylist {
        display: block;
    }
}

.uPlaylistImg {
    height: 64px;
    width: 64px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .5);
}

.playPlaylist {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #34d56a;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
    position: absolute;
    right: 8px;
    display: none;
    transition: all .1s ease;

    &:hover {
        scale: 1.05;
        background-color: #49e27f;
    }

    &:active {
        scale: 0.9;
        background-color: #2dbb5c;
    }
}

.playPlaylistIcon {
    scale: .4;
}

.shelfTitle {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 21px 0 21px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.shelfCardContainer {
    display: flex;
    padding: 0 8px 0 8px;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background: hsla(0, 0%, 100%, 0);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: hsla(0, 0%, 100%, .5);
    }

    &::-webkit-scrollbar-thumb:active {
        background: hsla(0, 0%, 100%, .7);
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background: hsla(0, 0%, 100%, .3);
        }
    }
}

.shelfCard {
    min-height: 300px;
    /* height: 300px; */
    height: auto;
    width: 250px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, .03);
    }

    &.shelfCard:hover .playCard {
        display: block;
    }
}

.shelfImg {
    height: 75%;
    min-height: 225px;
    width: 90%;
    min-width: 225px;
    border-radius: 6px;
    margin: 12px;
    background-image: url(/nowPlaying.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.playCard {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #34d56a;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
    transition: all .1s ease;

    &:hover {
        scale: 1.05;
        background-color: #49e27f;
    }

    &:active {
        scale: 0.9;
        background-color: #2dbb5c;
    }
}

.playCardIcon {
    scale: .4;
}

.shelfText {
    width: 225px;
    height: auto;
    max-height: calc(100% - 225px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}

.cardTitle {
    font-size: .9rem;
    font-weight: 500;
}

.cardDesc {
    color: var(--iconDeactiveColor);
    font-size: .7rem;
    font-weight: 400;
}

.searchView {
    background-color: #121212;
    width: 100%;
    height: auto;
    overflow-y: auto;
    display: none;
}

.rightSideBarContainer {
    height: 100%;
    width: 30.9vw;
    background-color: #121212;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    display: none;
    position: relative;
}

.blackCover {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(18, 18, 18, .6);
    transition: all .3s ease;

    &:hover {
        background-color: rgba(18, 18, 18, .0);
    }
}

.rightBarTop {
    height: 50px;
    width: 95%;
    position: absolute;
    top: 5px;
    left: 50%;
    translate: -50% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topTitleBox {
    align-content: center;
    font-weight: bold;
    font-size: .88rem;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.topIconContainer {
    height: 32px;
    width: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.topIconBox {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.topIcons {
    scale: .5;
    fill: var(--iconDeactiveColor);
    transition: all .1s ease;
    cursor: pointer;

    &:hover {
        fill: #ffffff;
        scale: .6;
    }
}

.rightBarBottom {
    height: auto;
    width: 95%;
    /* background-color: #2eb85c; */
    position: absolute;
    bottom: 10px;
    left: 50%;
    translate: -50% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightBarSongDetails {
    display: grid;
    grid-template: "pretitle pretitle"
        "title title"
        "badges subtitle" /auto 1fr;
    column-gap: 8px;
}

.rightTitle {
    grid-area: title;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.rightArtistBox {
    grid-area: subtitle;
    grid-column-start: badges;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--iconDeactiveColor);
}

.rightArtist {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: #ffffff;
    }
}

.searchResultsHeading {
    height: auto;
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 0 0 10px;
}

.resultElementsBox {
    height: calc(100% - 50px);
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
}

.resultElements {
    height: 50px;
    width: 95%;
    background-color: #181818;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    cursor: pointer;
}

.resultIconBox {
    height: 40px;
    width: 40px;
    background-color: black;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.3s ease;
    position: relative;

    &:hover {
        transform: scale(1.1);
    }

    &.resultIconBox:hover .resultPlayIconBox {
        visibility: visible;
    }

}

.resultPlayIconBox {
    position: absolute;
    fill: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .6);
    visibility: hidden;
}

.resultPlayIconBox>svg {
    scale: .5;
}

.resultIcon {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}


.songDetailsBox {
    height: 40px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.songTitle {
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.artistName {
    color: var(--iconDeactiveColor);
    font-size: .8rem;
    cursor: pointer;

    &:hover {
        color: #ffffff;
        text-decoration: underline;
    }
}


/* Player */
.playerContainer {
    height: 72px;
    width: 100%;
    grid-area: now-playing-bar;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nowPlayingBox {
    height: 61px;
    width: 395.188px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
}

.nowPlayingCover {
    height: 61px;
    width: 56px;
    background-color: #000000;
}

.toggleNowPlaying {
    border: none;
    display: inline-block;
    margin-right: 8px;
}

.nowPlayingImg {
    height: 56px;
    width: 56px;
    margin-bottom: 5px;
}

.nowPlayingNameBox {
    display: grid;
    column-gap: 8px;
    margin: 0 8px;
    grid-template: "pretitle pretitle"
        "title title"
        "badges subtitle" /auto 1fr;
}

.titleBox {
    grid-area: title;

    &.titleBox:hover .titleText {
        text-decoration: underline;
    }
}

.titleText {
    text-decoration: none;
    color: #ffffff;
    font-weight: 550;
    font-size: .845rem;
}

.artistBox {
    grid-area: subtitle;
    grid-column-start: badges;

    &.artistBox:hover .artistText {
        color: #ffffff;
        text-decoration: underline;
    }
}

.artistText {
    text-decoration: none;
    font-weight: 500;
    color: #b3b3b3;
    font-size: .7rem;
}

.playerControlsBox {
    height: 57px;
    width: 537.594px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.generalControlsBox {
    height: 32px;
    margin-bottom: 8px;
    width: 537.594px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 16px;
}

.bothControls {
    height: 100%;
    width: 236.797px;
    display: flex;
    gap: 8px;
}

.iconBox {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerIcons {
    height: 16px;
    width: 16px;
    fill: var(--iconDeactiveColor);

    &:hover {
        fill: #ffffff;
        scale: 1.05;
    }
}

.leftControls {
    justify-content: flex-end;
}

.rightControls {
    justify-content: flex-start;
}

.playPause {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;

    &:hover {
        scale: 1.05;
    }
}

.playCircle {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playIcon {
    height: 16px;
    width: 16px;
}

.progressBarBox {
    height: 17px;
    width: 537.594px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currentDurationBox,
.maxDurationBox {
    height: 100%;
    width: 40px;
    color: var(--iconDeactiveColor);
    font-size: .75rem;
}

.currentDurationBox {
    text-align: right;
}

.maxDurationBox {
    text-align: left;
}

.track {
    --progressPoint: 0%;
    height: 4px;
    width: 441.594px;
    background-color: #4d4c4d;
    border-radius: 2px;
    position: relative;

    &.track:hover .progress {
        background-color: #2eb85c;
    }

    &.track:hover .thumb {
        visibility: visible;
    }
}

.track::before {
    content: '';
    position: absolute;
    top: -10px;
    /* Expand touch area upwards */
    bottom: -10px;
    /* Expand touch area downwards */
    left: 0;
    right: 0;
    background: transparent;
    /* Invisible but clickable */
    z-index: 1;
    /* Ensure it’s above other elements */
}

.progress {
    height: 100%;
    min-width: 0%;
    width: var(--progressPoint);
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
    transition: width 0.2s ease;
}

.thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: -4px;
    left: calc(var(--progressPoint) - 1%);
    visibility: hidden;
    transition: left 0.2s ease;
}

.otherControlsBox {
    height: 32px;
    width: 403.188px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.volumeContainer {
    display: flex;
    align-items: center;
}

.volumeControlBox {
    height: 12px;
    width: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volumeInput {
    height: 4px;
    width: 93px;
}